<p>
  <b>Login:</b>
  <%=h @utilisateur.login %>
</p>

<p>
  <b>Pwd:</b>
  <%=h @utilisateur.pwd %>
</p>

<p>
  <b>Email:</b>
  <%=h @utilisateur.email %>
</p>


<%= link_to 'Edit', edit_utilisateur_path(@utilisateur) %> |
<%= link_to 'Back', utilisateurs_path %>
